@{
    ViewBag.Title = "Contact";
}
@model ContactVM
@section CostumStyle{

}
<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
        <div class="container pt-lg-5 py-3">
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Pages</li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Contact Us</li>
        </ul>
    </div>
</section>
<!-- contacts -->
<section class="w3l-contact-7 pt-5" id="contact">
    <div class="contacts-9 pt-lg-5 pt-md-4">
        <div class="container">
            <div class="top-map">
                <div class="row map-content-9">
                    <div class="col-lg-8">
                        <div class="contact-form">
                            <h5 class="mb-2">Get in touch</h5>
                            <p class="mb-4">Your email address will not be published. Required fields are marked *</p>
                            @using (Html.BeginForm("ContactRequest", "Contact", FormMethod.Post))
                            {
                                <div class="form-grid">
                                    <div class="input-field">
                                        <input type="text" name="name" id="w3lName" placeholder="Your Name"
                                               required="">
                                    </div>
                                    <div class="input-field">
                                        <input type="email" name="email" id="w3lSender" placeholder="Email"
                                               required="">
                                    </div>
                                </div>
                                <div class="input-field mt-4">
                                    <textarea name="message" id="w3lMessage" placeholder="Message"></textarea>
                                </div>
                                <input type="checkbox"> <label>
                                    Save my name, email, and website in this
                                    browser for the next time I comment
                                </label>
                                <button type="submit" class="btn btn-primary btn-style mt-3">Submit</button>
                            }
                            @if (@TempData["Info"] != null)
                                {
                                    <div class="alert alert-success mt-3" id="success-alert">
                                        <button type="button" class="close" data-dismiss="alert">x</button>
                                        <strong>Success! </strong>@TempData["Info"]
                                    </div>
                                }
                        </div>
                    </div>
                    <div class="col-lg-4 cont-details">
                        <address>
                            <h5 class="">Our Office Address</h5>
                            <p>
                                <span class="fa fa-map-marker"></span>@Model.SettingVMs.FirstOrDefault(s=>s.Key== "Address").Value
                            </p>

                            <h5 class="mt-4 pt-lg-3">Phone informatiom</h5>
                            <p>
                                <span class="fa fa-mobile"></span> <strong>Phone :</strong>
                                                                   <a href="tel:@Model.SettingVMs.FirstOrDefault(s => s.Key == "Phone").Value"> @Model.SettingVMs.FirstOrDefault(s => s.Key == "Phone").Value</a>
                            </p>

                            <p>
                                <span class="fa fa-phone"></span> <strong>Tel :</strong>
                                                                  <a href="tel:@Model.SettingVMs.FirstOrDefault(s => s.Key == "Tel").Value"> @Model.SettingVMs.FirstOrDefault(s => s.Key == "Tel").Value</a>
                            </p>

                            <p>
                                <span class="fa fa-envelope"></span> <strong>Email :</strong>
                                                                     <a href="mailto:@Model.SettingVMs.FirstOrDefault(s => s.Key == "Email").Value"> @Model.SettingVMs.FirstOrDefault(s => s.Key == "Email").Value</a>
                            </p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <div class="map mt-5">
            <iframe src="@Model.SettingVMs.FirstOrDefault(s => s.Key == "Iframe").Value"
                    frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
    </div>
</section>
<!-- //contacts -->


@section CostumScript{

}