@{
    ViewBag.Title = "About";
    int count = 0;
}
@model AboutVM
@section CostumStyle{

}


<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
        <div class="container pt-lg-5 py-3">
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Pages</li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> About Us</li>
        </ul>
    </div>
</section>
<section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row">
                <div class="col-lg-5 pr-lg-0">
                    <div style="background-image:url(@Model.SettingVMs.Find(s=>s.Key=="AboutImage").Value" class="w3l-left-img2">
                    </div>
                </div>
                <div class="col-lg-7 pl-lg-0">
                    <div class="w3l-right-info">
                        <h6 class="title-small">About us</h6>
                        <h3 class="title-big">@Model.SettingVMs.Find(s=>s.Key== "AboutName").Value</h3>
                        <h5 class="mt-4">
                            @Model.SettingVMs.Find(s=>s.Key== "AboutInfo").Value
                        </h5>
                        <p class="mt-4">
                           @Model.SettingVMs.Find(s=>s.Key=="AboutContent").Value
                        </p>
                        <a href="#small-dialog1" class="popup-with-zoom-anim play-view d-block mt-md-5 mt-4">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                            See Our Story
                        </a>
                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
                            <iframe src="https://www.youtube.com/embed/jqP3m3ElcxA" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div><div class="grids-area-hny main-cont-wthree-fea row mt-5 pt-lg-5 pt-5">
                <div class="col-lg-4 col-md-6 grids-feature">
                    <div class="area-box">
                        <span class="fa fa-home"></span>
                        <h4><a href="#feature" class="title-head">@Model.SettingVMs.Find(s=>s.Key== "HomeName").Value</a></h4>
                        <p>@Model.SettingVMs.Find(s => s.Key == "HomeInfo").Value</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
                    <div class="area-box">
                        <span class="fa fa-search-plus"></span>
                        <h4><a href="#feature" class="title-head">@Model.SettingVMs.Find(s => s.Key == "SearchName").Value</a></h4>
                        <p>@Model.SettingVMs.Find(s => s.Key == "SearchInfo").Value</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
                    <div class="area-box">
                        <span class="fa fa-dollar"></span>
                        <h4><a href="#feature" class="title-head">@Model.SettingVMs.Find(s => s.Key == "PremiumName").Value</a></h4>
                        <p>@Model.SettingVMs.Find(s => s.Key == "PremiumInfo").Value</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="w3l-aboutblock2" id="why">
        <div class="midd-w3 py-5">
            <div class="container py-lg-5 py-md-4 py-2">
                <div class="row">
                    <div class="col-lg-6 left-wthree-img">
                        <img src=@Model.SettingVMs.Find(s=>s.Key=="WhyUsImage").Value alt="" class="img-fluid radius-image" />
                    </div>
                    <div class="col-lg-6 mt-lg-0 mt-5 align-self">
                        <h6 class="title-small">Why us</h6>
                        <h3 class="title-big">@Model.SettingVMs.Find(s => s.Key == "WhyUsName").Value</h3>
                        <p class="mt-4">
                            @Model.SettingVMs.Find(s => s.Key == "WhyUsContent").Value
                        </p>
                        <ul class="w3l-right-book mt-lg-5 mt-4">
                            <li><span class="fa fa-check" aria-hidden="true"></span>@Model.SettingVMs.Find(s => s.Key == "WhyUsInfo1").Value</li>
                            <li><span class="fa fa-check" aria-hidden="true"></span>@Model.SettingVMs.Find(s => s.Key == "WhyUsInfo2").Value</li>
                            <li><span class="fa fa-check" aria-hidden="true"></span>@Model.SettingVMs.Find(s => s.Key == "WhyUsInfo3").Value</li>
                            <li><span class="fa fa-check" aria-hidden="true"></span>@Model.SettingVMs.Find(s => s.Key == "WhyUsInfo4").Value</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="w3l-agentsblock py-5" id="team">
        <div class="container py-lg-5 py-md-4 py-2">
            <h6 class="title-small text-center">Our team</h6>
            <h3 class="title-big text-center mb-lg-5 mb-4">Meet our Agents</h3>
            <!-- block -->
            <div class="row">
                @foreach (var employee in Model.EmployeeVMs)
                {
                    <div class="col-lg-3 col-sm-6 column-item @count++>0?'mt-sm-0 mt-5':''">
                        <div class="users_box">
                            <div class="user-avatar">
                                <a href="#agent-single" class="avatar">
                                    <img src=@employee.ImageUrl alt="" class="img-fluid w-100 radius-image">
                                </a>
                            </div>
                            <div class="users_box_info">
                                <p class="user_position">@employee.Position</p>
                                <h4 class="user_title agent">
                                    <a href="#agent-single">@employee.Name</a>
                                </h4>
                                <div class="user_meta user_phone">
                                    <span class="phone-detail"> <a href="tel:@employee.PhoneNumber">@employee.PhoneNumber</a></span>
                                </div>
                                <a href="#agent-single" class="btn btn-outline-primary btn-style mt-4">
                                    View Profile
                                </a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <!-- stats -->
    <section class="w3l-stats py-5" id="stats">
        <div class="gallery-inner container py-lg-5 py-md-4 py-2">
            <div class="row stats-con">
                <div class="col-md-3 col-6 stats_info counter_grid">
                    <p class="counter">5012</p>
                    <span class="plus">+</span><br>
                    <h3>Homes for sale</h3>
                </div>
                <div class="col-md-3 col-6 stats_info counter_grid1">
                    <p class="counter">256</p>
                    <span class="plus">+</span><br>
                    <h3>Homes for rent</h3>
                </div>
                <div class="col-md-3 col-6 stats_info counter_grid mt-md-0 mt-4">
                    <p class="counter">1300</p>
                    <span class="plus">+</span><br>
                    <h3>Recently sold</h3>
                </div>
                <div class="col-md-3 col-6 stats_info counter_grid2 mt-md-0 mt-4">
                    <p class="counter">145 </p>
                    <span class="plus">k</span><br>
                    <h3>Happy Clients </h3>
                </div>
            </div>
        </div>
    </section>
    <!-- //stats -->

    @section CostumScript{

    }
